<div class="unlock-wrapper">
  <h2>Drag to Unlock</h2>
  <div class="unlock-inner">
    <div class="t-circle-outer ui-widget-content">
      <div class="t-circle-inner">
        <%= image_tag("card.png") %>
      </div>
    </div>

    <div class="slider">
      <%= image_tag("chevron2.png") %>
    </div>

    <div class="b-circle-outer">
      <div class="b-circle-inner"></div>
    </div>
  </div>
</div>